.stack__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-size: 10rem;
  transition: 1s all ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.stack__card:nth-child(1) {
  background-image: url("/render1.jpg");
}
.stack__card:nth-child(2) {
  background-image: url("/render2.jpg");
}
.stack__card:nth-child(3) {
  background-color: #3490dc;
}
.stack__card:nth-child(4) {
  background-color: #f66d9b;
}
.stack__card:nth-child(5) {
  background-color: #f6993f;
}
