.mainContainer {
  background-color: var(--primaryBackgroundColor);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
}
.container {
  text-align: center;
  margin: auto;
  font-size: 3rem;
  color: var(--primaryColor);
}

.container h1 {
  font-size: 4rem;
  margin: 10px;
}

.container span {
  font-size: 2rem;
  display: block;
}

@media (width <= 1024px) {
  .container h1 {
    font-size: 3rem;
  }

  .container span {
    font-size: 1.75rem;
  }
}

@media (width <= 768px) {
  .container h1 {
    font-size: 2.5rem;
  }

  .container span {
    font-size: 1.5rem;
  }
}

@media (width <= 320px) {
  .container h1 {
    font-size: 2rem;
  }

  .container span {
    font-size: 1rem;
  }
}
